:root {
    --font: Poppins;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-Light-Gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    color: var(--grayish-blue);
}

html {
    height: 100%;
}

body {
    font-size: 15px;
    font-family: var(--font);
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: var(--very-Light-Gray);
    text-align: center;
    color: var(--very-dark-blue);
}

main {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 90%;
    height: auto;
    padding: 20px 0;
}

.title h1 {
    font-weight: 200;
}

.title h1 span {
    font-weight: 600;
}

.title p {
    display: block;
    font-weight: 400;
    width: 500px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    width: 85%;
    top: 30%;
    height: 70%;
    gap: 10px;
}

.container .column {
    display: grid;
    place-items: center;
    height: 100%;
    width: calc((100% - 20px) / 3);
    z-index: 1;
}

.container .column.middle {
    height: calc(50% - 10px);
}

.container .column article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10px);
    aspect-ratio: 16 / 9;
    background-color: var(--white);
    border-top-width: 5px;
    border-top-style: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px var(--grayish-blue);
    padding: 10px 10px;
    text-align: left;
    position: relative;
    z-index: 2;
    transition: 0.5s;
}

article h3 {
    font-size: 1.5rem;
}

article p {
    font-size: 0.8rem;
    font-weight: 200;
    width: 80%;
}

article img {
    align-self: flex-end;
    scale: 0.9;
}

article.left {
    border-top-color: var(--cyan);
}

article.top {
    border-top-color: var(--red);
}

article.bottom {
    border-top-color: var(--orange);
}

article.right {
    border-top-color: var(--blue);
}

.container:hover .column:not(:hover) {
    z-index: 0;
}

.container:hover article:not(:hover) {
    scale: 0.75;
    opacity: 0.2;
    z-index: 0;
}

.container:hover article:not(:hover) * {
    visibility: hidden;
}

.container:hover article.left:hover {
    scale: 1.5;
    z-index: 1;
    translate: 80% 0;
}

.container:hover article.top:hover {
    scale: 1.5;
    z-index: 1;
    translate: 0 80%;
}

.container:hover article.bottom:hover {
    scale: 1.5;
    z-index: 1;
    translate: 0 -80%;
}

.container:hover article.right:hover {
    scale: 1.5;
    z-index: 1;
    translate: -80% 0;
}

@media screen and (max-width: 450px) {
    main {
        min-height: 100vh;
        overflow-y: scroll;
    }

    .title {
        height: 30%;
    }

    .title h1 {
        font-size: 1.6rem;
    }

    .title p {
        width: min(500px, 20rem);
    }

    .container {
        flex-wrap: nowrap;
        width: 90%;
        height: auto;
        gap: 5px;
    }

    .container .column {
        width: 100%;
        min-height: 205px;
    }

    .container:hover article:not(:hover) {
        scale: 0.9;
        translate: -30px 0;
    }

    .container:hover article.left:hover,
    .container:hover article.top:hover,
    .container:hover article.bottom:hover,
    .container:hover article.right:hover {
        scale: 1;
        translate: 10px 0;
    }
}